<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie6" xmlns:ng="http://angularjs.org" id="ng-app" lang="en" ng-app="localidayApp"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" xmlns:ng="http://angularjs.org" id="ng-app" lang="en" ng-app="localidayApp"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" xmlns:ng="http://angularjs.org" id="ng-app" lang="en" ng-app="localidayApp"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie9" xmlns:ng="http://angularjs.org" id="ng-app" lang="en" ng-app="localidayApp"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js ie9" xmlns:ng="http://angularjs.org" id="ng-app" lang="en" ng-app="localidayApp">
<!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{.Description}}"/>
  <meta name="copyright" content="{{.Copyright}}" />
  <meta name="robots" content="index,follow" />
  <meta name="author" content="{{.Author}}" />
  <title>{{.Name}}</title>
  <link rel="stylesheet" type="text/css" href="/css/localiday_{{.Version}}.css" />
  <script type="text/javascript" src="/js/localiday_{{.Version}}.js"></script>
  <!--[if lt IE 9 ]>
  <script type="text/javascript" src="/js/html5shiv.js"></script>
  <script type="text/javascript" src="/js/respond.js"></script>
  <script type="text/javascript" src="/js/angularshiv.js"></script>
  <![endif]-->
  <!--[if lt IE 8 ]>
  <script type="text/javascript" src="/js/json2.js"></script>
  <![endif]-->
</head>
<body ng-controller="ApplicationController">
  <div id="main">
    <figure id="masthead" title="localiday"></figure>
    <div id="content">
      <div id="login-bar">
        <div id="login-area" ng-controller="LoginController">
          <div class="message">
            <div class="authlinks">
              <a href="/home" ng-click="openLogin()"  ng-if="!isAuthenticated()">login</a>
              <a href="#" ng-click="logout()" ng-if="isAuthenticated()">logout</a>
              <a href="/profile" ng-if="currentUser.details.nickname" title="Edit Profile">[[currentUser.details.nickname.toLowerCase()]]</a>
            </div>
            <span id="share">share:</span>
          </div>
          <div id="icon-area">
            <figure id="google_icon" class="share-icon" title="Google +"></figure>
            <figure id="facebook_icon" class="share-icon" title="Facebook"></figure>
            <figure id="twitter_icon" class="share-icon" title="Twitter"></figure>
          </div>
        </div>
      </div>
      <div id="pagebody">
        <div id="page-content" ng-view>
          <g:layoutBody />
        </div>
      </div>
      <div id="bottom-bar">
        <div id="footer-area">
          <div class="copyright">{{.Copyright}}</div>
          <figure class="nav-menu-icon" title="Navigation Menu"></figure>
          <div class="footer-links">
            <a href="/admin" ng-if="isAuthorized(userRoles.admin)">admin</a>
            <a href="/profile" ng-if="isAuthenticated()">edit profile</a>
            <a href="/home">home</a>
            <a href="/page/about">about</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div login-dialog id="login-dialog"></div>
</body>
</html>
